
<!--<app-add-edit-delete-client [client]="selectedClient"></app-add-edit-delete-client>-->

<!--<app-list-clients (onSelect)="onReceiveClient($event)"></app-list-clients>-->

<!--<app-add-edit-delete-offer [offer]="selectedOffer"></app-add-edit-delete-offer>-->

<!--<app-list-offers (onSelect)="onReceiveOffer($event)"></app-list-offers>-->

<!--<app-add-edit-delete-country></app-add-edit-delete-country>-->

<app-add-edit-delete-destination></app-add-edit-delete-destination>

<app-list-destinations></app-list-destinations>
